*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html {
    height: 100%;
    background-image: url("../common/bg.webp");
    background-size:cover;
    background-position: bottom;
}

.graph {
    margin:3em;
}

.wrapper{
    width:80%;
}

h3{
    text-align: center;
    width: 70%;
    font-size: xx-large;
    color:rgb(151, 200, 243);
    margin:2em;
    text-shadow: 1px 1px #000000;
}